@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* top of the page  */

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.topNav, nav{
    border-bottom: 2px solid grey;
}

.innerTopNav, .innerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.innerTopNav {
    padding-block: 5px;
}

#toggle, .hambuger{
    display: none;
}

.generalLay{
    width: 1107px;
    margin-inline: auto;
}

.navRight{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 700px;
}

.innerNav > img{
    width: 110px;
}
form{
    display: flex;
}

form > input::placeholder{
    padding-left: 10px;
}


form > span{
    background-color: red;
    padding: 5px 7px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

input{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

input, select{
    border-radius: 0;
    border: 1px solid lightgreen;
}

.innerTopNav > .imgNo{
    font-size: 13px;
    font-weight: 500;
}

.navTag > a, 
.innerItm > a{
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    gap: 6px;

}

.innerItm > a > img{
    width: 12px;
}

.innerTopNav > img {
    width:25px;
}

/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    .hambuger{
        display: block;
        font-size: 1.3rem;
    }
    .innerTopNav, .innerNav{
            width: 100%;
            gap: none;
    }
    #toggle:checked + .hambuger{
        display: block;
    }
    .navRight{
        display: none;
        background-color: #433c11;
        height: 30vh;
        width: 90%;
        justify-content: center;
        position:absolute;
        flex-direction: column;
        right: .5rem;
        top: 6rem;
        gap: 2rem;
        padding: 2rem;
        border-block: 3px solid;
    }
    form{
        width: 100%;
        /* padding-left: 20px; */
    }
    .innerItm{
        flex-direction: column;
        gap: 10px;
    }
    .innerItm > a{
        color: #fff;
         padding-bottom: 20px; 
    }
}

/* background section/hero section  */

.heroSection {
    background: url("./image/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.heroImg{
    position: absolute;
    bottom: 0;
    right: 13%;
    width: 50vw;
    height: 70vh;
    /* border: 2px solid #9c0c0c; */
}

.heroImg > img {
    width: 100%;
}

.heroBtn{
    border: none;
    background-color: #CD7A1D;
    position: absolute;
    bottom: 170px;
    left: 180px;
    width: 11vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    border-radius: 20px;
    /* right: 0; */
    /* z-index: 0.2; */
}

.heroBtn > h2{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

}
.heroBtn > i{
    color: #CD7A1D;
    background-color: #fff;
    /* size: 5; */
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    border-radius: 100%;
    padding: 3px;
}

.heroNo{
    color: #fff;
    position: absolute;
    bottom: 7px;
    right: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.heroNo > h4{
    color: #CD7A1D;
    font-size: 23px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
 
}
.heroNo > p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;  
}
/* hero responsiveness  */
@media(min-width:240px) and (max-width:500px){
   .heroSection{
    width: 100%;
    background-size: contain;
    height: 50vh;
    margin-bottom: 0;
   }
   .heroImg{
    height: 32vh;
    }
   .heroBtn{
    width: 21vw;
    bottom:132px;
    left: 50px;
    padding: 2px 3px;
    justify-content: space-around;
   }
   .heroBtn > h2{
    font-size: 8px;
   }
   .heroBtn > i{
    width: 10px;
    height: 10px;
   }
   .heroNo{
    right: 90px;
    bottom: 87px;
   }
   .heroNo > h4{
    font-size: 8px;
   }
   .heroNo > p{
    font-size: 8px;
   }
}
@media(min-width:500px) and (max-width:800px){
    .heroSection{
        width: 100%;
        background-size: contain;
        height: 50vh;
        margin-bottom: 0;
    }
    .heroImg{
    height: 34vh;
    }
    .heroBtn{
    width: 12vw;
    bottom:175px;
    left: 110px;
    padding: 5px 3px;
    justify-content: space-around;
    }
    .heroBtn > h2{
    font-size: 9px;
    }
    .heroNo{
    right: 190px;
    bottom: 80px;
   }
   .heroNo > h4{
    font-size: 10px;
   }
   .heroNo > p{
    font-size: 9px;
   }
}

/* section one  */

.secOne{
    background-color: #fff;
    width: 90vw;
    margin-inline: auto;
}   

.container{
    /* border: 2px solid #000; */
    width: 70vw;
    height: 50vh;
    margin-inline: auto;
    margin-block: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0;
}

.listIc{
    /* border: 2px solid; */
    display: grid;
    grid-gap: 5px;
    width: 20vw;
}

.btnIc{
    border-radius:5px;
    border: none;
    background-color: #F7F7F8;
}

h4{
    font-size: 15px;
    font-weight: 500;
    font-family:  "Poppins", sans-serif;
}

.price{
    font-size: 7px;
    font-weight: 300;
    font-family:  "Poppins", sans-serif;
}

.color{
    font-size: 16px;
    font-weight: 500;
    font-family:  "Poppins", sans-serif;
    color: #F53E32;
}

.imageIc1{
    background: url(./image/9b87d05a18ebb4acdac09e9e45b2dbfaf71cbbc6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20vw;
    position: relative;
}

.imageIc1 > h1{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background-color: #000;
    /* border: 2px solid; */
    display: flex;
    justify-content: start;
    align-items: start;
    width: 70px;
    padding: 15px 15px;
    border-bottom-right-radius: 100px;
}

.imageIc2 > h1{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background-color: #000;
    /* border: 2px solid; */
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100px;
    padding: 15px 15px;
    border-bottom-right-radius: 100px;
}

.imageIc2{
    /* border: 2px solid; */
    background: url(./image/d3f513af5c1eaba7f9e4919a343e6e5bede45843.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20vw;
    position: relative;
}

.imgBtn{
    position: absolute;
    right: 90px;
    bottom: 10px;
}

.imgBtn > h3{
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.imgBtn > button{
    padding: 7px 15px;
    background-color: #F53E32;
    border: none;
    border-radius: 5px;
    color: #fff;
}

/* responsiveness */
@media(min-width:240px) and (max-width:500px){
    .secOne{
        width: calc(100% - 40px);
        margin-bottom: 440px;
    }
    .container{
        width: 100%;
        grid-template-columns:1fr;
        /* margin-inline: 10px; */
        gap: 30px;
        height: 55vh;
        /* height: 200px; */
        /* margin-bottom:30px; */
    }
    .listIc{
        width: 100%;
        /* height: 180px; */
        margin-bottom: 30px;
    } 
    .imageIc1, .imageIc2{
        width: 100%;
        background-position: center;
        height: 35vh;
    }
    .imageIc2{
        /* height: 20vh; */
        margin-bottom: 10px;
    }
    .imgBtn{
        right: 40%;
    }

@media(min-width:501px) and (max-width:800px){
    
}
    
}

/* section two  */
.secTwo{
    width: 1107px;
    margin-inline: auto;
}
.popularProductCat{
    margin-block: 50px;
}
.popularProductCat > h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.popularProductCat > p{
    text-align: center;
    font-size: 14px;  
    font-weight: 300; 
    color: #7a7a7a; 
}
.popularContain{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.popularCard{
    /* border: 2px solid; */
    width: 40%;
    gap: 20px;
}

.pop1{
    /* border: 2px solid; */
    display: grid;
    height: 26%;
    gap: 10px;
    margin-right: 10px;
    /* padding-inline: 5px; */
}

.pop1 > button{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: #000000;
    text-transform: capitalize;
    padding-inline: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

button > .red{
    display: flex;
    color: #F53E32;
    font-family: "Poppins", sans-serif;
}

.pop1 > .red{
    color: #F53E32;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}

.pop2{
    background-image: url(./image/1ccbf7a850f0672ba689774edbd11c652a5b06ae.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-position: center;
    /* padding-right: 20px; */
    margin-top: 10px;
    margin-right: 5px;
    border-radius:10px ;
    height: 72%;
    justify-content: start;
    align-items: start;
    padding-top: 90px;
    padding-left: 10px;
    gap: 15px;
}

.pop2 > h2{
    font-size: 20px;
    color: #F7E8AA;
    margin-top: 10px;
    font-weight: 800;
    font-family:"Poppins", sans-serif;
;
}

.pop2 > h4{
     font-size: 25px;
    color: #fff;
    font-weight: 500;
    height: 30px;
    margin-top: 10px;
    text-transform: capitalize;
}
.pop2 > p{
     font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.pop2 > button{
    color: #fff;
    background-color: #F53E32;
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
}

.popularCard2{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.itemCard{
    border: 1px solid #E9E9E9;
    /* justify-content: center; */
    position: relative;
}

.imgItm{
    /* border: 2px solid blue; */
    background-color: #fff;
    width: 100%;
}

.imgItm > img {
 width: 100%;
 padding:10px;
 border: 1px solid #E9E9E9;
 object-fit: contain;
}

#innerImg{
    border: 1px solid #7a7a7a;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 275px;
    left: 45%;
    color: #F53E32;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10px;
    gap: 5px;

}

.items > h6{
    font-size: 12px;
    font-weight: 400;
    text-transform:capitalize ;
    font-family: "Poppins", sans-serif;
}

.itmIcn{
    font-size: 0.8em;
    color: #F53E32;
}

.items > h2{
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.prices{
    gap: 2px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #F53E32;
}

.prices > span{
    color: #000000;
    text-decoration: line-through;
    align-items: end;
    justify-content: end;
    font-weight: 200;
    font-size: 12px;
}

/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    .secTwo{
        width: calc(100% - 40px);
    }
    .popularProductCat{
        margin-top: 40px;
        width: 100%;
    }
    .popularContain{
        flex-direction: column;
    }
    .popularCard{
        width: 100%;
    }
    .popularCard2{
        grid-template-columns: repeat(2,1fr);
    }
    #innerImg{
        top: 160px;
    }
}

@media(min-width:500px) and (max-width:800px){
     .secTwo{
        width: calc(100% - 40px);
    }
    .popularProductCat{
        width: 100%;
    }
    .popularContain{
        flex-direction: column;
    }
    .popularCard{
        width: 100%;
    }
    .popularCard2{
        width: 100%;
    }
}


/* section three  */
.secThree{
    width: 1107px;
    margin-inline: auto;
}
.cardWrap{
    display: flex;
    justify-content: space-between;
    
}

.healthy{
    background-image: url(./image/9f99e63279f22b4fae5358a4017301245abc078b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    width: 32%;
    height: 25vh;
}

.healthy > h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}
.healthy > p{
    font-size: 15px;
    font-weight: 500;
    color: #F53E32;
    font-family: "Poppins", sans-serif;
}

p > span {
    color: #777777;
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.healthy > button{
    font-size: 12px;
    font-weight: 500;
    background-color: #F53E32;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
}



.fresh{
    background-image: url(./image/754dda8609dcda257513655fa7569a2c93920400.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    width: 32%;
    height: 25vh;

}

.fresh > h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}
.fresh > p{
    font-size: 15px;
    font-weight: 500;
    color: #F53E32;
}

.fresh > button{
    font-size: 12px;
    font-weight: 500;
    background-color: #F53E32;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
}
.healthyFresh{
    background-image: url(./image/ce095338703be5c752b83ede3018b764314ff4d1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    width: 32%;
    height: 25vh;

}

.healthyFresh > h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}
.healthyFresh > p{
    font-size: 15px;
    font-weight: 500;
    color: #F53E32;
}

.healthyFresh > button{
    font-size: 12px;
    font-weight: 500;
    background-color: #F53E32;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
}


/* responsiveness  */
@media(min-width: 240px) and (max-width:500px){
    .secThree{
        width: calc(100% - 40px);
    }
    .cardWrap{
        /* display: flex; */
       flex-direction: column;
       gap: 10px;
       /* flex-wrap: wrap; */
       /* border: 3px solid #a3a; */
    }
    .healthyFresh, .healthy, .fresh{
        width: 100%;
    }
}
@media(min-width: 500px) and (max-width:800px){
    .secThree{
        width: calc(100% - 40px);
    }
    .cardWrap{
        width: 100%;
        gap: 10px;
    }
    .healthyFresh, .healthy, .fresh{
        width: 100%;
    }
}


/* section four  */
.secFour{
    width: 1107px;
    margin-inline: auto;
}

.cardbox{
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.boxCard{
    padding-top: 50px;
    background-color: #E9E9E9;
}

.boxCard > h4{
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.boxCard > p{
    text-align: center;
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 300;
}

/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    .secFour{
        width: calc(100% - 40px);
    }
    .cardbox{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media(min-width:500px) and (max-width:800px){
     .secFour{
        width: calc(100% - 40px);
    }
}




/* section five  */
.secFive{
    background-image: url(./image/1a2b144527c2591118e8d9a27fb0ffa00a67cbf1\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 50vh;
    position: relative;
}

.secImg{
    width: 1107px;
    margin-inline: auto;
}

.innerCard{
    background-color: #F7F7F8;
    text-align: left;
    position: absolute;
    width: 280px;
    padding: 10px;
    top: 60px;

}

.innerCard > h5{
    font-size: 13px;
    /* text-transform: capitalize; */
    color: #212529;
}
h5 > span{
    font-size: 16px;
    color: #F53E32;
}
.innerCard > h2{
    font-size: 20px;
    color: #2B2B2D;
    text-transform: capitalize;
}

.innerInnCard{
    border: 1px solid #E9CBBE;
    display: flex;
    flex-direction: row;
    width: 180px;
    margin-top: 10px;
    /* margin-left: 20px; */
    gap: 8px;
    padding-inline: 10px;
}

.innerInnCard > p {
    gap: 5px;
    font-size: 15px;
    text-align: center;
}

.date > h4{
    font-size: 16px;
    font-weight: 700;
}

.colon{
    margin-block: auto;
}

/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    .secFive{
        width: 100%;
        height: 40vh;
    }
    .innerCard{
        margin-left: 10px;
    }
}
@media(min-width:500px) and (max-width:800px){
     .secFive{
        width: 100%;
        height: 40vh;
    }
    .innerCard{
        margin-left: 20px;
    }
}




/* section six  */
.secSix{
    width: 1107px;
    margin-inline: auto;
    margin-top: 50px;
}
.imgContainer6{
    /* border: 2px solid;   */
    display: grid;
    grid-template-columns:1fr 1fr 2fr;
    grid-column-gap: 10px;
    padding-left: 10px;
    width: 1107px;
    height: 60vh;
}

.fried{
   background-image: url(./image/0494f65f47a1add681aa83c2c444703c1c998b61.png); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.pizza{
   background-image: url(./image/be2ffca05efe79374dc18c4fd61cbbe53077327b.png); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.OrganicVeg{
    background-image: url(./image/cb43c749bf7925b960677f55357eb62c66a52ecc.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 20px;
   position: relative;
}

.innerTxt{
    position: absolute;
    top: 50px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: end; 
    align-items: end; */
}

.innerTxt > h2{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: end;
}
.innerTxt > p{
    font-size: 16px;
    font-weight: 400;
    text-align: end;
}
.innerTxt > p > span{
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
}

.innerTxt > button{
  padding: 8px 8px;
  background-color: #F53E32;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  align-self:flex-end;
}

/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    .secSix{
        width: calc(100% - 40px);
    }
    .imgContainer6{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
        height: 100vh;
    }
    .OrganicVeg{
        height: 30vh;
    }
}

@media(min-width:500px) and (max-width:800px){
    .secSix{
        width: calc(100% - 40px);
    }
    .imgContainer6{
        width: 100%;
        grid-template-columns: 2, 1fr;
        gap: 10px;
        /* width: 120vw; */
        /* height: 100vh; */
    }
}

/* section seven  */
.secSeven{
    width: 1107px;
    margin-inline: auto;
    margin-top: 50px;
}

.conSeven{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conSeven > h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
.conSeven > p {
    text-align: center;
    font-size: 14px;
    color: #7A7A7A;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 400px;
}

.greatCont{
    display: flex;
    gap: 10px;
    position: relative;
}

.greatCard{
    /* border: 1px solid; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9E9E9;
    border-top: none;
    padding-top: 55px;
    padding-inline: 10px;
    padding-bottom: 10px;
    /* justify-content: center; */
    /* position: relative; */
}

.curve{
    /* border-bottom: 3px solid #E9E9E9; */
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 0.5;
    bottom: 96px;
}

.curve > .curveImg{
    width: 100%;
    padding: 7px;
    border-radius: 50%;
}

.innerGreatCard {
    background-color: #E9E9E9;
    /* padding-top: 30px; */
    position: relative;
}

.innerGreatCard > P{
    text-align: center;
}
.innerGreatCard > h4{
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}

/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    .secSeven{
        width: calc(100% - 40px);
    }
    .greatCont{
        flex-direction: column;
    }
}
@media(min-width:500px) and (max-width:800px){
     .secSeven{
        width: calc(100% - 40px);
    }
}





/* section eight  */
.secEight{
    width: 1105px;
    margin-inline: auto;
    margin-top: 60px;
}

.latestNews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerNews{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-inline: 10px;
}

.latestNews > h2{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
.latestNews > p{
    font-size: 14px;
    font-weight: 300;
}

.new1{
    border: 1px solid #E9E9E9;
    background-color: #fff;
    position: relative;
}


.new1 > p{
    font-size: 14px;
    font-weight: 200;
    color: #777777;
    padding-inline: 10px;
    text-transform: capitalize;
    margin-top: 10px;
}
.new1 > h5{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding-inline: 10px;
    margin-block: 5px;
}

.new1 > a{
    text-decoration: none;
    color: #64B496;
    padding-inline: 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    
}

.newImg{
    width: 350px;
    margin-top: 20px;
}

.dm{
    /* border: 2px solid; */
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    right:18px;
    bottom: 10px;
    justify-items:center;
    align-items: center;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
}

.dm > h2{
    font-size: 25px;
    /* align-items: end; */
}

@media(min-width:240px) and (max-width:500px){
    .secEight{
        width: calc(100% - 40px);
    }
    .innerNews{
        flex-direction: column;
        gap: 10px;
    }
}
@media(min-width:500px) and (max-width:800px){
     .secEight{
        width: calc(100% - 40px);
    }
    .innerNews{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* flex-direction: column; */
        gap: 10px;
    }
}



/* section nine  */
footer{
    background-color: #F7F7F8;
    margin-top: 50px;
}

.lastContainer{
    width: 1107px;
    margin-inline: auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.spanImg > img{
    width: 30px;
}

.secWrap{
    display: flex;
    gap: 30px;
}

.firstCol > h4{
    font-size: 15px;
    font-weight: 400;
    color: #7A7A7A;
    margin-top: 7px;
    margin-bottom: 15px;
}
.firstCol > p{
    font-size: 14px;
    font-weight: 500;
    color: #7A7A7A;
    margin-bottom: 10px;

}
.secCol{
    gap: 10px;
}

.secCol > h4 {
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.secCol > p {
    font-size: 15px;
    color: #777777;
    font-weight: 400;
    margin-bottom: 8px;
}

.thirdCol{
    gap: 10px;
}

.thirdCol > h4{
    font-size: 24px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.thirdCol > p{
    font-size: 15px;
    color: #777777;
    font-weight: 400;
    margin-bottom: 8px;
}

.lastCol{
    gap: 10px;
}
.lastCol > h4{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.spanImg > img{
    width: 30px;
}
.lastCol > .search{
    position: relative;
}
.search > .inputField{
    width: 100%;
    border: 1px solid #E9E9E9;
    color: #E9E9E9;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 5px;
    cursor: pointer;
    outline: none;
}
.search > .arrow{
    position: absolute;
    right: 6px;
    padding: 5px;

}
.lastCol > .loGo{
    /* border: 2px solid; */
    height: 25px;
    width: 8vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.loGo > .logo{
    border: 1px solid #F7F7F8;
    backdrop-filter: initial;
    /* display: flex;
    align-self: center;
    justify-self: center; */
    background-color:#fff ;
}
.logo > img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    padding-left: 3px;
    padding-top: 2px;
}



/* responsiveness  */
@media(min-width:240px) and (max-width:500px){
    footer{
        margin-inline: auto;
        /* border: 2px solid #b71c1c; */
    }
    .lastContainer{
        width: calc(100% - 40px);
        flex-direction: column;
        margin-left: 20px;
    }
    .firstCol, .secCol, .thirdCol, .lastCol{
        width: 100%;
    }
    .loGo{
        display: flex;
        width: 35vw;
    } 
    .logo{
        height: 17px;
    }
    .logo > img{
        width: 15px;
    }   
}